<h1>Edit post</h1>

<div class="row">
  <%= form_for(@post) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title  %>

    <%= f.label :header %>
    <%= f.file_field :header %>

    <%= f.label :content %>
    <%= f.text_area :content %>

    <%= f.label :tags %>
    <%= f.text_field :tags%>

    <%= f.submit %>
  <% end %>
</div>
