.row
  .col-md-8.col-md-offset-2
    .show_post
      .header
        %p
          = @post.created_at.strftime('%B %d, %Y')
        %h1
          = @post.title
        %hr/
      .body
        .image
          - if @post.header?
            = image_tag(@post.header_url(:header))
          - else
            = image_tag('default.jpeg')
        .text
          = @post.content.html_safe
      = render "posts/partials/footer"
