.row
  .col-md-8.col-md-offset-2
    .show_post
      .header
        %p
          = @post.created_at.strftime('%B %d, %Y')
        %h1
          = @post.title
        %hr/
      .body
        .image
          = image_tag(@post.header_url) if @post.header?
        .text
          = @post.content
      = render "posts/partials/footer"
